.widget
  height: 100%
  width: 100%
  background-color: #cccccc
  margin: 0
table
  width: 100%
  height: 100%
.titlecolumn
  text-align: center
.imgtitlecolumn
  text-align: center
.imgcolumn
  text-align: center
.nasaimage
  width: 90%
.title
  height: 1px
tr
  height: min-content
.imgtitle
  height: 1px
