<div class="widget">
  <table>
    <tr>
      <td class="titlecolumn">
        <h2 class="title">{{title}}</h2>
      </td>
    </tr>
    <tr>
      <td class="imgtitlecolumn">
        <h3 class="imgtitle">{{imgtitle}}</h3>
      </td>
    </tr>
    <tr>
      <td class="imgcolumn">
        <div>
          <img class="nasaimage" src="{{myimage}}" *ngIf="myimage != undefined" (click)="showImage()"/>
        </div>
      </td>
    </tr>
  </table>


  <!--
  <div style="font-size: 15px;">{{explanation}}</div>
  -->
</div>

