.widget
  height: 100%
  width: 100%
  background-color: #98cae7
  margin: 0
  border-style: solid

.movingText
  color: black
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background: #98cae7
  padding: 0 40px
  height: 120px
  overflow: hidden
  text-align: center
  text-transform: uppercase
  font-size: 30px
  line-height: 60px


.line
  animation: anim 48s infinite

@keyframes anim
  0%
    margin-top: 0
  8%
    margin-top: -120px
  16%
    margin-top: -240px
  24%
    margin-top: -360px
  32%
    margin-top: -480px
  40%
    margin-top: -600px
  48%
    margin-top: -720px
  56%
    margin-top: -840px
  64%
    margin-top: -960px
  72%
    margin-top: -1080px
  80%
    margin-top: -1200px
  88%
    margin-top: -1320px
  96%
    margin-top: -1440px



