<div class="widget">
  <table>
    <tr>
      <td class="widgetimgcolumn">
        <img src="../../../../assets/images/cloud.svg" class="widgetImg" *ngIf="WeatherWidget$.weather == 'wolkig'"/>
        <img src="../../../../assets/images/rain.svg" class="widgetImg" *ngIf="WeatherWidget$.weather == 'Regen'"/>
      </td>
      <td class="temperaturecolumn">
        <h1>{{ WeatherWidget$.temperature }}°</h1>
      </td>
      <td class="weathercolumn">
        <h1>{{ WeatherWidget$.weather }}</h1>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td class="locationcolumn">
        <h2>{{ WeatherWidget$.location }}</h2>
      </td>
      <td class="locationimgcolumn">
        <img src="../../../../assets/images/location.svg" class="widgetLocationImg" (click)="getMyLocation()"/>
      </td>
    </tr>
  </table>

</div>
