.widget
  height: 100%
  width: 100%
  background-color: #cccccc
  margin: 0

.icon
  width: 40%
  margin-left: 20%
.xkcdimage
  height: 70%
  margin-left: 25%
.title
  font-size: 2em
  cursor: pointer
