.widget
  height: 100%
  width: 100%
  background-color: #98cae7
  border-style: solid
  margin: 0
  align-content: center

.icon
  width: 40%
  margin-left: 10%

.xkcdimage
  height: 70%
  margin: 0px auto
  cursor: pointer

.title
  font-size: 2em
  cursor: pointer
