<div class="widget weather" (click)="getMyLocation()">
    <table width=100%>
        <tr>
            <td style="width: 20%;"><img src="../../../assets/images/cloud.svg" class="widgetImg" *ngIf="WeatherWidget$.weather == 'wolkig'"/><img src="../../../assets/images/rain.svg" class="widgetImg" *ngIf="WeatherWidget$.weather == 'Regen'"/></td>
            <td style="width: 15%;">{{ WeatherWidget$.temperature }}°</td>
            <td align="right">{{ WeatherWidget$.weather }}</td>
        </tr>
        <tr>

        </tr>
    </table>
    <h2 id="line1">{{ WeatherWidget$.location }}<img src="../../../assets/images/location.svg" class="widgetLocationImg" (click)="getMyLocation()"/></h2>
</div>
