<ng-container *ngIf="layout2 | async as layout3">
<ktd-grid [cols]="cols"
          [rowHeight]="rowHeight"
          [layout]="layout3"
          (layoutUpdated)="postNewWidgetPositionsToBackend($event)">
  <ktd-grid-item *ngFor="let item of layout; trackBy:trackById" [id]="item.id"
                 [draggable]="true"
                 [resizable]="false">
    <!--<div class="grid-item-content" *ngIf="item.id == '0'"></div>-->
    <app-weather *ngIf="item.id == '1'"></app-weather>
    <app-nasa *ngIf="item.id == '2'"></app-nasa>
    <app-cartoon *ngIf="item.id == '3'"></app-cartoon>
    <app-maps *ngIf="item.id == '4'"></app-maps>
    <app-public-transport *ngIf="item.id == '5'"></app-public-transport>
    <app-stocks *ngIf="item.id == '6'"></app-stocks>
    <app-text-of-the-day *ngIf="item.id == '7'"></app-text-of-the-day>
    <app-daily-news *ngIf="item.id == '8'"></app-daily-news>
    <app-chuck *ngIf="item.id == '9'"></app-chuck>
    <app-tronald-dump *ngIf="item.id == '10'"></app-tronald-dump>
  </ktd-grid-item>
</ktd-grid>
</ng-container>
