<div style="text-align:center" class="widget">

           <!--  <button (click)="getData()">Fetch Data</button>
           -->

  <ng-container *ngIf="$data | async as data">
    <ng-container *ngIf="data | async as data2">
      <table>
        <tr *ngFor="let element of data2">
          <td>{{element["name"]}}</td>
          <td>{{element["dateTime"]}}</td>
        </tr>
      </table>
    </ng-container>
  </ng-container>
</div>
<!--
<div class="gallery" *ngFor="let image of data">
  <a target="_blank" [href]="image.href">
    <img [src]="image.thumbnailUrl" width="300" height="200">
  </a>
  <div class="desc">{{image.title}}</div>
</div>
-->
