<div>
  <form class="example-form" (ngSubmit)="onSubmit($event)">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Origin</mat-label>
      <input matInput placeholder="e.g. Köln" name="origin" [(ngModel)]="origin">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Destination</mat-label>
      <input matInput placeholder="e.g. Frankfurt" name="destination" [(ngModel)]="destination">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mode</mat-label>
      <mat-select [(value)]="mode">
        <mat-option value="driving">Car</mat-option>
        <mat-option value="walking">Foot</mat-option>
        <mat-option value="bicycling">Bike</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Avoid</mat-label>
      <mat-select [formControl]="avoids" [(value)]="avoid" multiple>
        <mat-select-trigger>
          {{avoids.value ? avoids.value[0] : ''}}
          <span *ngIf="avoids.value?.length > 1" class="example-additional-selection">
      (+{{avoids.value.length - 1}} {{avoids.value?.length === 2 ? 'other' : 'others'}})
    </span>
        </mat-select-trigger>
        <mat-option *ngFor="let avoids of avoidsList" [value]="avoids">{{avoids}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Measurements</mat-label>
      <mat-select [(value)]="measurements">
        <mat-option value="metric">Metric</mat-option>
        <mat-option value="imperial">Imperial</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save</button>

  </form>
</div>
